<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recipeFinder.RecipeFinder"/>
        <activity android:name=".news.NewsModule" />
        <activity android:name=".carChargingStation.CarChargingStation"/>
        <activity android:name=".carChargingStation.StationView" />
        <activity android:name=".carChargingStation.CarChargingFavouriteStations" />
        <activity android:name=".currencyConverter.CurrencyConverter" />
        <activity android:label="@string/recipe_finder" android:name=".recipeFinder.RecipeFinder"></activity>
        <activity android:label="@string/news" android:name=".news.NewsModule" />
        <activity android:label="@string/charging_station" android:name=".carChargingStation.CarChargingStation" />
        <activity android:label="@string/currency" android:name=".currencyConverter.CurrencyConverter" />
        <activity android:name=".MainActivity">
		    <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
                 <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
