<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".news.NewsFavourites"></activity>
        <activity android:name=".recipeFinder.RecipeFinder" />
        <activity android:name=".news.NewsModule" />
        <activity android:name=".carChargingStation.CarChargingStation" />
        <activity android:name=".currencyConverter.CurrencyConverter" />
    </application>

</manifest>